.container {
  width: 100%;
  margin: auto;
  text-align: center;
}
body {
  background-color: #393E46;
}
h1 {
  margin: 30px;
  font-family: 'Satisfy', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: blue;
}
p {
  font-size: 2rem;
  color: blue;
  font-family: 'Zen Loop', cursive;
}
img {
  width: 80%;
}
button{
  background-color: blue;
  border-radius: 10px;
  font-size: 2rem;
  width: 10%;
  font-family: 'Satisfy', cursive;
}
.dice {
  text-align: center;
  display: inline-block;
}
.refresh-btn{
  margin-top: 50px;
}
